<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book List</title>
  </head>
  <body>
    <h1>Add book</h1>
    <form action="/" method="POST">
      <label for="Book_ID">Book ID : </label>
      <input id = "Book_ID" type="text" name="book_id" value="" required>
      <p></p>
      <label for="Book_Name">Book Name : </label>
      <input id= "Book_Name" type="text" name="book_name" value="" required>
      <p></p>
      <label for="Author_Name">Author : </label>
      <input id= "Author_Name" type="text" name="author_name" value="" required>
      <p></p>
      <label for="Location_Name">Location : </label>
      <input id= "Location_Name" type="text" name="location_name" value="" required>
      <p></p>
      <input type="Submit" name="" value="Submit">
    </form>
    <h1>Books</h1>
    <table>
      <tr>
        <th>Book ID</th>
        <th>Book Name</th>
        <th>Author</th>
        <th>Location</th>
      </tr>
      {% for da in data %}
        <tr>
          <td><a href="data/{{da.book_id}}">{{da[0].book_id}}</a></td>
          <td><a href="data/{{da.book_id}}">{{da[0].book_name}}</a></td>
          <td><a href="data/{{da.book_id}}">{{da[1].author_name}}</a></td>
          <td><a href="data/{{da.book_id}}">{{da[2].location_name}}</a></td>
        </tr>
    {% endfor %}
  </table>
  </body>
</html>
